.content {
    max-width: 90%;
    margin: 30px auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2vh;
}

.cardHomeNewBudget {
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly !important;
}

.cardHomeNewBudget .iconFile {
    width: 30%;
    height: 30%;
}