.span-newBudget {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #1111115f;
    inset: 0;
    z-index: 10;
    overflow: auto;
}

.container-newBudget {
    width: 80%;
    margin: auto;
    /* max-height: 80%; */
    padding: 5vh;
    gap: 2vh;
    flex-direction: column;
    border-radius: 2.5vh;
    background-color: white;
}

@media (width < 500px) {
    .container-newBudget {
        width: 100%;
        padding: 2.5vh;
    }
}

.header-budget {
    flex-direction: column;
}

.tab-budget-content {
    width: 100%;
    display: none;
    gap: 3vh;
}

.content-budget-active {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
}

.container-buttons-budget {
    display: grid;
    gap: 1vh 3vh;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: end;
}

.button-nav-budget {
    padding-block: 0.75vh;
    border-radius: 1.5vh;
    background: none;
    color: black;
    font-weight: bold;
}

.button-nav-budget:hover {
    background: #f5f5f5;
}

.button-nav-budget.active {
    background: white;
}