main {
    padding-block: 3vh;
}

section {
    width: 90%;
    margin: 0 auto;
}

.container-settings {
    display: flex;
    margin-block: 3vh;
    padding: 2vh;
    gap: 3vh;
    border: #ddd 1px solid;
    border-radius: 2vh;
    flex-wrap: wrap;
}

/* .container-settings-head {
    width: 100%;
}

.container-settings>div {
    display: flex;
    flex-direction: row;
    place-items: center;
} */

.opening-hours {
    display: flex;
    gap: 2vh;
    place-items: center;
}

.opening-hours select {
    min-width: 35%;
}

.week-date {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
}

.week-date>.date {
    display: flex;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.date-active {
    background: greenyellow;
}

.date-inactive {
    background: #ddd;
}

.btn-save {
    width: fit-content;
    padding-inline: 10vh;
    justify-self: end;
}

@media (width<500px) {
    .btn-save {
        width: 100%;
    }
}